{% extends 'base.twig' %}

{% block main %}

<div class="grid">
    <article>
        <h2>Discover the {{ dino.name }}</h2>

        <div class="description">
            Lorem ispum
        </div>

        <div class="card">
            <img src="{{ dino.avatar }}" alt="" />
            <dl>
                <dt>Name</dt>
                <dd>{{ dino.name }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ dino.name_meaning }}</dd>
                <dt>Diet</dt>
                <dd>{{ dino.diet }}</dd>
                <dt>Height</dt>
                <dd>{{ dino.height }} m.</dd>
                <dt>Length</dt>
                <dd>{{ dino.length }} m.</dd>
                <dt>Weight</dt>
                <dd>{{ dino.weight }} kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for dino in troisdino %}
            <a href="{{dino.url}}">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
        {% endfor %}
    </aside>
</div>

{% endblock %}